@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-inter: var(--font-inter);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
  --font-google-sans-code: var(--font-google-sans-code);
}
